body{
    display: flex;
    flex-flow: column nowrap;
}
.signupHeader{
    display: flex;
    justify-content: center;
}
.signupForm{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.formInputGroup{
    display: flex;
    justify-content: space-between;
    margin: 2vh 2vw;
    width: 40%;
    flex-direction: column;
    
}

#check {
    float: left;
  }

.formInput{
    border: 1px solid black;
    padding: 2vh 1vw;
}
.formInput:focus{
    background-color: #e0e0e0;
}
.submitBtn{
    display: flex;
    padding: 2vh 2vw;
    margin: 2vh 2vw;
    background-color: white;
    border: 1px solid black;
}
.submitBtn:hover{
    background-color: black;
    color: white;
}