<!DOCTYPE html>
<html>
    <head>
        <title>
            Business Account Info
        </title>
        <!-- <link rel="stylesheet" href="/style.css"> -->
    </head>
    <body>
        <header>
            <span>Home</span>
            <span>View Account</span>
        </header>
        <section class="top">
            <h2>Welcome <%= business.CompanyName %></h2>
            <button>add roster</button>



        </section>
        <section class="matches">
            <h3>Your matches</h3>
            <span>loading your matches</span>

        </section>

    </body>
</html>