<!DOCTYPE html>
<html>
    <head>
        <title>
            Business Account Info
        </title>
        <!-- <link rel="stylesheet" href="/style.css"> -->
    </head>
    <body>
        <h1>Welcome <%= business.CompanyName %>,</h1>
        <span>Number of Employees: <%= business.NumberOfEmp %></span> <br>
        <span>Business Email: <%= business.BusinessEmail %></span>

    </body>
</html>