<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet"  href="/css/homePageStyle.css">
        <!-- link for icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>
            Business Account Info
        </title>
        <!-- <link rel="stylesheet" href="/style.css"> -->
    </head>
    <body>
        <header>
            <span>Home</span>
            <span>View Account</span>
        </header>
        <section class="top">
            <h2>Welcome <%= business.CompanyName %></h2>
            <form>
                <input class="rosterButton" type ="submit" value = "Add Roster" />
            </form>



        </section>
        <section class="matchSection">
            <h3>Your matches</h3>
            <section class="matches">
                <section class="match">
                    <i class="fa-solid fa-user"></i>
                    <section class="matchText">
                        <h4>John Doe</h4>
                        <span>Phone: ###-###-####</span>
                        <span>Email: email@gmail.com</span>
                        <span>Location: 2 Miles</span>
                        <span>Available to start working: 4/7/22</span>
                        
                    </section>
                    <section class="matchCalendar">
                        <span>see availability</span>
                        <i class="fa-solid fa-calendar"></i>
                    </section>
                </section>
            </section>

        </section>

    </body>
</html>