<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.3.0/main.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.css"
    />
    <link type="text/css" rel="stylesheet" href="/css/roster.css" />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        console.log("function is running");

        var calendarEl = document.getElementById("calendar");
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: "timeGridWeek",
          headerToolbar: false,
          selectable: true,
          editable: true,
          select: function (info) {
            alert("selected " + info.startStr + " to " + info.endStr);
            calendar.addEvent({
              title: "availability",
              start: info.startStr,
              end: info.endStr,
            });
          },
          events: [],
          allDaySlot: false,
          height: 480,
        });
        calendar.render();
        console.log("events", calendar.events);
        const button = document.getElementById("rosterSubmit");
        console.log("btn", button);
        button.addEventListener("click", () => {
          var events = calendar.getEvents();
          console.log(events);
          var fortmattedEvents = []
          for (let i = 0; i < events.length; i++) {
            
            fortmattedEvents.push({
              start: Date(events[i]._instance.range.start),
              end:Date(events[i]._instance.range.end)
            })
          }
          console.log(fortmattedEvents)
          document.getElementById("calEvents").value = fortmattedEvents;
          console.log(document.getElementById("calEvents").value);
          // document.getElementById("calForm").submit();
          // console.log("done submitting");
        });
      });

     
    </script>
  </head>

  <body>
    <nav class="navbar">
      <a href="#"><i class="fa fa-fw fa-home"></i> Home</a>
      <div class="dropdown">
        <button class="dropbtn">
          Profile
          <i class="fa fa-caret-down"> </i><i class="fa fa-fw fa-user"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </nav>
    <form id="calForm" action="/display_roster/<%= roster._id %>" method="POST">
      <div class="calMain">
        <h2>Enter needed availability for roster</h2>
        <div id="calendar"></div>
        <input id="calEvents" name="calEvents" type="hidden" />
      </div>
      <div>
        <button class="submitHrs">Back</button>
        <button class="submitHrs" id="rosterSubmit" >
          Submit Roster
        </button>
      </div>
    </form>
  </body>
</html>
