<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/roster.css" />
    <!-- link for icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />

    <title>Create Roster</title>
  </head>

  <body>
    <nav class="navbar">
      <a href="#"><i class="fa fa-fw fa-home"></i> Home</a>
      <div class="dropdown">
        <button class="dropbtn">
          Profile
          <i class="fa fa-caret-down"> </i><i class="fa fa-fw fa-user"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </nav>
    <!-- ADD MARGIN -->
    <section class="top" >
      <h2>Create A New Roster</h2>
    </section>
<!--  action="/submitRoster/<%= roster._id %>" --> 
    <form
      class="signupForm"
      
      action="/roster_creation/3/<%= roster._id %>"
      method="POST"
    >
      <div class="formInputGroup">
        <label for="JobTitle">Job Schedule: </label>
        <div class="radioForm">
          <span class="locationRadio">
            <input
              class="formInput"
              type="radio"
              value="Weekend"
              name="jobSchedule"
            />Weekend
          </span>

          <span class="locationRadio">
            <input
              class="formInput"
              type="radio"
              value="DayShift"
              name="jobSchedule"
            />Day Shift
          </span>

          <span class="locationRadio">
            <input
              class="formInput"
              type="radio"
              value="Road"
              name="jobSchedule"
            />Flexible
          </span>
        
        </div>
      </div>
      <!-- Required -->
      <div class="formInputGroup">
        <label for="desiredstartdate">Desired Start Date: </label>
        <input
          class="formInput"
          type="text"
          placeholder="Ex: June 20"
          name="desiredStart"
        />
      </div>
      <div class="formInputGroup">
        <label for="LengthOfRole">Length of Role: </label>

        <div class="radioForm">
          <lable class="commitRadio">
            <input class="formInput" type="radio" value="Temporarily" />
            Temporarily
          </lable>

          <div class="formInputGroup Dates available">
            <input
              class="formInput"
              type="text"
              placeholder="Dates available"
              name="LengthOfRole"
            />
          </div>

          <div class="radioForm">
            <lable class="commitRadio">
              <input class="formInput" type="radio" value="Indefinitely" />
              Indefinitely
            </lable>
          </div>
          <label for="Compensation">Compensation: </label>
          <input
            class="formInput"
            type="text"
            placeholder="Ex. $15/hr"
            name="Compensation"
          />
        </div>
        <label for="SupplementalPay"
          >Suplemental Pay and Benefits:
        </label>
        <input
          class="formInput"
          type="text"
          placeholder="Ex. ?????"
          name="SupplementalPay"
        />

        <label for="CovidPrecautions"
          >Suplemental COVID-19 Precautions:
        </label>
        <input
          class="formInput"
          type="text"
          placeholder="Ex. Masks are mandatory"
          name="CovidPrecautions"
        />
        <div>
          <button class="submitBtn">Back</button>
          <button class="submitBtn" type="submit">Next</button>
        </div>
      </div>
    </form>
  </body>
</html>
