<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/roster.css" />
    <!-- link for icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />

    <title>Create Roster</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="#"><i class="fa fa-fw fa-home"></i> Home</a>
      <div class="dropdown">
        <button class="dropbtn">
          Profile
          <i class="fa fa-caret-down"> </i><i class="fa fa-fw fa-user"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </nav>
    <section class="top">
      <h2>Create A New Roster</h2>
    </section>

    <form class="signupForm" action="/submitRoster" method="POST">
      <div class="formInputGroup">
        <label for="JobTitle">Job Schedule: </label>
        <div class="radioForm">
  
            <span class="locationRadio">
              <input
                class="formInput"
                type="radio"
                value="Weekend"
              />Weekend
            </span>

            <span class="locationRadio">
              <input class="formInput" type="radio" value="DayShift" />Day Shift
            </span>
  
            <span class="locationRadio">
              <input class="formInput" type="radio" value="Road" />Flexible
            </span>

            <button class="fillouthrs" type="submit">Fill Out Work Hours</button>

          </div>
        </div>
      </div>

      <!-- Required -->
      <div class="formInputGroup">
        <label for="desiredstartdate">Desired Start Date: </label>
        <input
          class="formInput"
          type="text"
          placeholder="Ex: "
          name="JobDesc"
        />
      </div>

      <div class="formInputGroup">
        <label for="JobSkills">Skills Required: </label>
        <input class="formInput" type="text" placeholder="Ex: Bartending" />
      </div>

      <div class="formInputGroup">
        <label for="Location">Location: </label>

        

      <div class="formInputGroup additionalInfo">
        <input
          class="formInput"
          type="text"
          placeholder="Additional Info"
          name="LocationInfo"
        />
      </div>

      <button class="submitBtn" type="submit">Next</button>

      <div class="formInputGroup">
        <label for="Job Schedule">Job Schedule: </label>

    <div class="radioForm">
          <lable class="commitRadio">
            <input class="formInput" type="radio" value="Weekend" />
            Weekend
          </lable>
          
          <lable class="commitRadio">
            <input class="formInput" type="radio" value="Dayshift" />
            Dayshift
          </lable>

          <lable class="commitRadio">
            <input class="formInput" type="radio" value="Flexible" />
            Flexible
          </lable>

    </div>

      <label for="Desired Start Date">Desired Start Date: </label>
        <input
          class="formInput"
          type="text"
          placeholder="Ex: March 27th, 2003"
          name="Desired Start Date"
        />
     </div>
      <div class="formInputGroup">
        <label for="Length of Role">Length of Role: </label>

          <div class="radioForm">
          <lable class="commitRadio">
            <input class="formInput" type="radio" value="Temporarily" />
            Temporarily
          </lable>

    <div class="formInputGroup Dates available">
            <input
            class="formInput"
            type="text"
            placeholder="Dates available"
            name="Length of Role"
            />
         </div>

         <div class="radioForm">
          <lable class="commitRadio">
            <input class="formInput" type="radio" value="Indefinitely" />
            Indefinitely
          </lable>

          </div>
          <label for="Compensation">Compensation: </label>
          <input
            class="formInput"
            type="text"
            placeholder="Ex. $15/hr"
            name="Compensation"
          />
          

        </div>
    <label for="Supplemental Pay and Benefits">Suplemental Pay and Benefits: </label>
        <input
          class="formInput"
          type="text"
          placeholder="Ex. ?????"
          name="Supplemental Pay and Benefits"
        />

 <label for="COVID-19 Precautions">Suplemental COVID-19 Precautions: </label>
        <input
          class="formInput"
          type="text"
          placeholder="Ex. Masks are mandatory"
          name="Covid-19 Precautions"
        />
        <div>
    </div>
    <button class="submitBtn" type="submit">Back</button> 
    <button class="submitBtn" type="submit">Find Candidate</button>
     </form>
    </body>
</html>

    

    </form>
  </body>
</html>
