<nav class="navbar">
    <a href="/businessInfo/<%= businessId %>">
      <img src="/logo.png"></a>
    
    <div class="dropdown">
      <button class="dropbtn">
        Profile
        <i class="fa fa-fw fa-user"></i>
      </button>
    </div>
  </nav>