<nav class="navbar">
    <a href="/businessInfo/<%= businessId %>"><i class="fa fa-fw fa-home"></i> Home</a>
    <div class="dropdown">
      <button class="dropbtn">
        Profile
        <i class="fa fa-fw fa-user"></i>
      </button>
    </div>
  </nav>