
<section class="matches">
    <section class="match">
    <i class="fa-solid fa-user"></i>
    <section class="matchText">
        <!-- eventually feed in candidate info below -->
        <h4>John Doe</h4>  
        <span>Phone: ###-###-####</span>
        <span>Email: email@gmail.com</span>
        <span>Location: 2 Miles</span>
        <span>Available to start working: 4/7/22</span>
    </section>
    <section class="matchCalendar">
        <span>see availability</span>
        <i class="fa-solid fa-calendar"></i>
    </section>
    </section>
</section>