<section class="rosterCard">
    <h3 class="rosterTitle"><%= roster.JobTitle %></h3>
    <span class="rosterText">Commitment: <%= roster.Commitment ? roster.Commitment : "unavailable" %></span>
    <span class="rosterText">Skills: <%= roster.Skills ? roster.Skills: "unavailable" %></span>
    <span class="rosterText">Compensation: <%= roster.Composation ?  "$"+roster.Composation : "unavailable" %></span>
</section>